@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* Colors */
    /* Headers, text, */
    --primary-color: #ededed;
    /* Background, buttons, links */
    --secondary-color: #081b29;
    /* Buttons, links hover */
    --tertiary-color: #00abf0;
}

:root {
    /* Colors */
    /* Headers, text, */
    --primary-color: #ededed;
    /* Background, buttons, links */
    --secondary-color: #000000;
    /* Buttons, links hover */
    --tertiary-color: #00bbff;
    /* widgets, cards, */
    --quaternary-color: #c4c4c4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: inline-flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;   
}

nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background: var(--quaternary-color);
    border: var(--tertiary-color) 1px solid;
    border-radius: 10px;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    transition: .3s;
    width: 100%;
}

nav a:hover {
    color: var(--tertiary-color);
}

.layout{
    display: flex;
    flex-direction: column;
    
    background: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 10px 0px; 
    background: transparent;
    border: var(--tertiary-color) 1px solid;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    background: transparent;
    border: var(--tertiary-color) 1px solid;
    border-radius: 10px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    
    scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color) var(--secondary-color);
}

section{
    
    padding: 10px;
    margin: 10px;
    background: transparent;
    min-height: 100vh;
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



.logo {
    position: relative;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    font-size: 25px;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.nav-links a {
    font-size: 18px;
    color: var(--primary-color);
    margin-left: 35px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}


.logo:hover,
.nav-links a:hover,
.nav-links a.active-page {
    color: var(--tertiary-color);
}





.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 200px;
    top: 80px;
    background-color: transparent;
    z-index: 1;
    
}

.dropdown-content fieldset {
    border: none;
}

.dropdown-content input[type="radio"] {
    display: inline-block;
} 
