@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --grid-unit: 1rem;
    --border-radius-base: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
}

header,
nav {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    border-right: 1px solid var(--secondary-font-color);
    padding: 5px;
    width: fit-content;
    min-height: 100vh;
    text-align: center;
    justify-content: space-between;
}

.logo-ico {
    margin-top: 10px;
    width: 40px;
}

.nav-links a , .social-links a {
    text-decoration: none;
    color: var(--secondary-font-color);
    margin: 3px 6px;
    padding: 10px;
    border-radius: 10px;
}
.social-links {
    display: flex;
    flex-direction: column;
}
.nav-links a i {
    font-size: 23px;
}

.social-links a i {
    font-size: 25px;
}

.nav-links a:hover, .social-links a:hover {
    background-color: var(--ternary-color);
    
}

.nav-links a.active {
    background-color: var(--ternary-color);
}

.theme-notifier {
    margin-bottom: 10px;
}

.theme-notifier i {
    font-size: 23px;
    color: var(--secondary-font-color);
    cursor: pointer;
}

.theme-notifier i:hover {
    color: var(--ternary-color);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 0px 70px;
}

section {
    display: none;
    /* Hide all sections by default */
}

section.active {
    display: block;
    padding: 20px 30px;
    min-height: 100vh;
    /* Show the active section */
}

section.active .sec-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

section.active .sec-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* Home Section */

section.home.active {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

section.home.active h1 {
    position: relative;
    font-size: 49px;
    font-weight: 700;
    line-height: 1.2;
}

section.home.active .home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    font-size: 25px;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

section.home.active .home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--ternary-color);
}
section.home.active .home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    font-size: 25px;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

section.home.active p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section.home.active .home-content {
    max-width: 1300px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--ternary-color);
    border: 2px solid var(--ternary-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--bg-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-content .btn-box a:hover {
    color: var(--ternary-color);
    border: 2px solid var(--ternary-color);
}

.home-content .btn-box a:nth-child(2) {
    background: transparent;
    color: var(--ternary-color);
    transition: .5s;
}

.home-content .btn-box a:nth-child(2):hover {
    color: var(--bg-color);
    border: 2px solid var(--ternary-color);

}

.home-content .btn-box a:nth-child(2)::before {
    background: var(--ternary-color);
}

.home-content .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
    border-radius: 8px;


}

.home-content .btn-box a:hover::before {
    width: 100%;
}



@keyframes showRight {
    100% {
        width: 0;
    }
}

/* End-Home Section */

/* About Section */

.about .sec-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.about .sec-content .about-p {
    text-align: justify;
    letter-spacing:.5px ;
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--secondary-font-color);
}

/* End-About Section */


/* issue notice */
.issue-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 0px 0px 20px 20px; 
    margin: 0 0 0 80px;
    background: var(--bg-color);
    align-items: center;
    z-index: 100;
}

.issue-notice h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--ternary-color);
    font-style: italic;
}

.issue-notice p {
    font-size: 18px;
    color: var(--secondary-font-color);
    font-style: italic;
}
.issue-notice a {
    text-decoration: none;
    color: var(--ternary-color);
    font-weight: 600;
    font-style: italic;
}
/* end-issue notice */
