.color-picker>fieldset {
    border: 0;
    display: flex;
    gap: 1rem;
    background-color: var(--primary-color);
    width: fit-content;
    padding: 0.9rem;
    border-radius: 0.6rem;
    margin-inline: auto;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 2px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-bg-color, currentColor);
}

.color-picker input[type="radio"]#blue-white-grey {
    --radio-color: #1E90FF;
    --radio-bg-color: #D3D3D3;
}

.color-picker input[type="radio"]#green-white-black {
    --radio-color: #32CD32;
    --radio-bg-color: #000000;
}

.color-picker input[type="radio"]#purple-white-gold {
    --radio-color: #800080;
    --radio-bg-color: #FFD700;
}

.color-picker input[type="radio"]#red-white-black {
    --radio-color: #FF4500;
    --radio-bg-color: #000000;
}

.color-picker input[type="radio"]#turquoise-white-navy {
    --radio-color: #40E0D0;
    --radio-bg-color: #000080;
}

.color-picker input[type="radio"]#orange-white-grey {
    --radio-color: #FFA500;
    --radio-bg-color: #A9A9A9;
}

.color-picker input[type="radio"]#teal-white-coral {
    --radio-color: #008080;
    --radio-bg-color: #FF7F50;
}

.color-picker input[type="radio"]#navyblue-gold-white {
    --radio-color: #000080;
    --radio-bg-color: #FFFFFF;
}

.color-picker input[type="radio"]#forest-green-beige-brown {
    --radio-color: #228B22;
    --radio-bg-color: #8B4513;
}

:root:has(#blue-white-grey:checked) {
    --secondary-color: #1E90FF;
    --primary-color: #FFFFFF;
    --tertiary-color: #D3D3D3;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#green-white-black:checked) {
    --secondary-color: #32CD32;
    --primary-color: #FFFFFF;
    --tertiary-color: #000000;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);

}

:root:has(#purple-white-gold:checked) {
    --secondary-color: #800080;
    --primary-color: #FFFFFF;
    --tertiary-color: #FFD700;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#red-white-black:checked) {
    --secondary-color: #FF4500;
    --primary-color: #FFFFFF;
    --tertiary-color: #000000;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#turquoise-white-navy:checked) {
    --secondary-color: #40E0D0;
    --primary-color: #FFFFFF;
    --tertiary-color: #000080;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#orange-white-grey:checked) {
    --secondary-color: #FFA500;
    --primary-color: #FFFFFF;
    --tertiary-color: #A9A9A9;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#teal-white-coral:checked) {
    --secondary-color: #008080;
    --primary-color: #FFFFFF;
    --tertiary-color: #FF7F50;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#navyblue-gold-white:checked) {
    --secondary-color: #000080;
    --primary-color: #FFF;
    --tertiary-color: #FFD700;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}

:root:has(#forest-green-beige-brown:checked) {
    --secondary-color: #228B22;
    --primary-color: #F5F5DC;
    --tertiary-color: #8B4513;
    --radio-color: var(--secondary-color);
    --radio-bg-color: var(--tertiary-color);
}