@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: none;
}

body {
    background: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    position: relative;
    width: 100%;
    background: #ffffff;
    max-width: 1100px;
    margin: 80px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    position: relative;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

header h1, header h3 {
    margin: 0;
}

header h1 {
    font-size: 2.5em;
}

header h3 {
    font-size: 1.2em;
    color: gray;
}

.main-container {
    position: relative;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
}

.left-side {
    color: #000000;
    position: relative;
    background: #ffffff;
    width: 100%;
    
    border-right: 2px solid #272727;
}

.right-side {
    color: #000000;
    position: relative;
    background: #ffffff;
    width: 100%;
    
}

.right-side section, .left-side section {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

section .title {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: left;
}

.profile {
    position: relative;
    flex-direction: column;
    align-items: left;
    border-bottom: 1px solid #000000;
}

.contact ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.contact ul li {
    display: inline-block;
    margin-bottom: 1px;
}

.contact ul li a {
    text-decoration: none;
    margin-left: 6px;
    font-size: 1em;
    color: #000000;
    text-align: center;
    transition: 0.3s;
}

.contact ul li a:hover {
    color: #868686;
}

.education ul, .skills ul, .interests ul, .experience ul, .projects ul {
    list-style: none;
    padding: 0;
}

.education ul li, .skills ul li, .interests ul li, .experience ul li, .projects ul li {
    margin-bottom: 0px;
}
.education ul li, .experience ul li {
    margin-bottom: 10px;
}
.education ul li samp.degree, .education ul li samp.year, .education ul li samp.school, .experience ul li samp.role, .experience ul li samp.date {
    display: block;
}
.education ul li samp.degree, .education ul li samp.year,.experience ul li samp.role, .experience ul li samp.date {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.experience ul li samp.role, .experience ul li samp.date {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0px; /* Add spacing between role and date */
}

.projects ul li {
    margin-bottom: 0px;
    flex-wrap: wrap; /* Ensure wrapping */
}

.projects ul li .project-name,
.projects ul li .project-description {
    display: inline;
}

.projects ul li .project-description {
    margin-left: 0px; /* Adds space between the project name and description */
}
/* Responsive Design */
@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 1fr;
    }
    .content {
        padding: 30px;
        margin: 20px;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        
    }

    .left-side {
        border-right: none;
        border-bottom: 2px solid #272727;
        padding-bottom: 20px;
        min-width: none;
    }

    .right-side {
        border-left: none;
        padding-top: 20px;
        min-width: none;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 30px;
        margin: 20px;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        
    }

    header h1 {
        font-size: 2em;
    }

    header h3 {
        font-size: 1em;
    }

    .right-side, .left-side {
        padding: 10px;
        min-width: none;
    }

    
}

@media (max-width: 480px) {
    .content {
        margin: 10px;
        padding: 10px;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        
    }

    header h1 {
        font-size: 1.5em;
    }

    header h3 {
        font-size: 0.8em;
    }

    .right-side, .left-side {
        padding: 5px;
        min-width: none;
    }
}